flutter_tutorial/.dart_tool/*
flutter_tutorial/.idea/*
flutter_tutorial/android/*
flutter_tutorial/ios/*
flutter_tutorial/test/*
flutter_tutorial/.gitignore
flutter_tutorial/.metadata


finance_tracker/.dart_tool/*
finance_tracker/.idea/*
finance_tracker/android/*
finance_tracker/ios/*
finance_tracker/test/*
finance_tracker/.gitignore
finance_tracker/.metadata
finance_tracker/build/*
finance_tracker/.packages


mwcomposite/.dart_tool/*
mwcomposite/.idea/*
mwcomposite/android/*
mwcomposite/ios/*
mwcomposite/test/*
mwcomposite/.gitignore
mwcomposite/.metadata
mwcomposite/build/*
mwcomposite/.packages
mwcomposite/pubspec.lock
.vscode/launch.json
